<!DOCTYPE html>
<html>
<head>
	<title>IPL data project</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="main">
		<ul class="charts">
			<a href="/first"><li class="chart">Matches Per Season</li></a>
			<a href="/second"><li class="chart">Matches won per season Per Team</li></a>
			<a href="/third"><li class="chart">Extra runs conceded per team for the season 2016</li></a>
			<a href="/fourth"><li class="chart">top economical bowlers for 2015</li></a>
			<a href="/fifth"><li class="chart">Top run scorers for 2014</li></a>
		</ul>
	</div>
</body>
</html>
